<html>
<head>
{% block head %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% endblock %}
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="page">
	<div id="header">
	<div class="left">
	<a href="/">Pinboard</a></div>
	<div class="right">
	{% if username %}
	<b><a href="/board/">My Boards</a></b> - <b><a href="/pin/">My Pins</a></b> - <b>{{ username }}</b> - <a href="{{ logout }}">Logout</a>
	{% else %}
	<a href="{{ login }}">Login</a>
	{% endif %}
	</div>
	</div>
	
	<div class="content">
	{% block content %}{% endblock %}
	</div>
	
	</div>

	<div id="footer">
	design by accident. Contact us at <a href="mailto:webmaster@website.com">webmaster@website.com</a>.
	</div>
	
	
<!-- the script below is for livereload app. Remove before deployment -->
<!-- 
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
 -->
</body>
</html>
