{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>Your Boards</h1>

    <ul>
    {% for board in boards %}
    <li><a href="/board/{{ board.id() }}">{{ board.title }}</a></li>
    {% endfor %}
    </ul>    
      
      Enter new board:
	  <form method="post" action="/board/">
	  <label for="title">Title:</label> <input type="text" name="title"/><br/>
	  <label for="private">Private:</label> <input type="checkbox" name="private"/><br/>
	  <input type="submit" value="Submit"/>
	  </form>

{% endblock %}
