{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}

    <h1 id="boardTitle"></h1>
    <div id="pins">
    </div>
    <div class="displaybox">
    Private:</label> <input type="checkbox" name="private" id="privatecheckbox" 
	     {% if board.private %}checked {% endif %} /><br/>

	  <form method="post" action="/board/{{ id }}">
	  <input type="hidden" name="cmd" value="delete"/>
	  <input type="submit" value="Delete this Board" />
	  </form>	  
	     
    </div>
    <div class="messagebox"><div class="message">Hello</div></div>
    <div class="displaybox" id="pinstoadd">
    </div>
    
    <script src="/js/bscript.js"></script>

{% endblock %}