{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if user %}    
    <ul>
    <li><a href="/pin/">My pins</a></li>
    <li><a href="/board/">My boards</a></li>
    </ul>
    <br /><br />
    <!-- Change the localhost:8080 below to the actual host when deploying. -->
    <p>Grab our <a id="bookmarklet" href="">Pin It</a> bookmarklet and put it on your bookmarks bar.</p>
    <!-- The script below sets the href above with the correct host, so it'll work both on localhost:8080 and on the real host. -->
<script>
link = document.getElementById('bookmarklet');
link.href = "javascript:(function(){ _my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://" 
    + location.host + "/js/bookmarklet.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(_my_script);})();"
</script>    
    
    {% else %}
    <div class="displaybox">
    <p>You must <a href="{{ login }}">login</a> first.</p>
    </div>    
    {% endif %}

{% endblock %}
