{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if imgUrl %}
    <div class="displaybox">
    You just entered:
    <ul>
    	<li>imgUrl = {{ imgUrl }}</li>
    	<li>caption = {{ caption }}</li>
    </ul>
    </p>
    </div>
    {% endif %}
    <div class="displaybox">
    {% if username %}
    
	  Enter new pin:
	  <form method="post" action="/pin/">
	  <label for="imgUrl">Image URL:</label> <input type="text" name="imgUrl"/><br/>
	  <label for="caption">Caption:</label> <input type="text" name="caption"/><br/>
	  <input type="submit" value="Submit"/>
	  </form>
    
    {% else %}
    <p>You must login first.</p>    
    {% endif %}
    </div>
{% endblock %}
