{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>Pin {{ title }}</h1>
    {% if pin.imgUrl %}
    <div class="displaybox">
    <img id="pinimg" pinid="{{ id }}" class="displayPin" alt="{{ pin.caption }}" src="{{ pin.imgUrl }}"/>
    <div href="#" class="displayCaption" id="caption">
    {{ pin.caption }}
    </div>
    Private: <input type="checkbox" id="privatecheckbox" name="private" {% if pin.private %}checked {% endif %} /><br/>
    Added on {{ pin.date.strftime('%B %d, %Y at %H:%M') }}.<br/>
	  <form method="post" action="/pin/{{ id }}">
	  <input type="hidden" name="cmd" value="delete"/>
	  <input type="submit" value="Delete this Pin" />
	  </form>
    </div>
    {% endif %}

    <div class="displaybox">
      {% for board in boards %}
      In <a href="/board/{{ board.id() }}">{{ board.title }}</a> board.<br/>
      {% endfor %}
    </div>
          
    {% if editor %}
    <script src="/js/script.js"></script>
    {% endif %}    
{% endblock %}
