{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>Your Pins</h1>
    
    {% for pin in pins %}
    <div class="thumbbox">
    <a href="/pin/{{ pin.id() }}">
    <img class="thumbPin" title="click to edit this pin" alt="{{ pin.caption }}" src="{{ pin.url() }}"/></a>
    Added on {{ pin.date.strftime('%B %d, %Y at %H:%M') }}<br/>
    <span class="displayCaption" id="caption">
    {{ pin.caption }}
    </span>
    <p style="clear:both"></p>
    </div>
    {% endfor %}
    
    {% if username %}
	  Enter new pin:
	  <form method="post" action="/pin/">
	  <label for="imgUrl">Image URL:</label> <input type="text" name="imgUrl"/><br/>
	  <label for="caption">Caption:</label> <input type="text" name="caption"/><br/>
	  <label for="private">Private:</label> <input type="checkbox" name="private"/><br/>
	  <input type="submit" value="Submit"/>
	  </form>
    {% endif %}

{% endblock %}
