{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
    <h1>Your Pins</h1>
    
    {% for pin in pins %}
    <div class="displaybox">
    <a href="/pin/{{ pin.id() }}">
    <img class="displayPin" title="click to edit this pin" alt="{{ pin.caption }}" src="{{ pin.imgUrl }}"/></a>
    <div class="displayCaption" id="caption">
    {{ pin.caption }}
    </div>
    <b>Created on: {{ pin.date }}</b>
    </div>
    {% endfor %}
    
    
{% endblock %}
