@CHARSET "UTF-8";

* { /* css reset */
	padding: 0px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: sans-serif;
	padding: 10px 0 10px 0;
}

body {
	font-family: serif;
}

#header {
	color: #fff;
	background-color: #000;
	width: 100%;
	height: 2em;
}

.right {
    text-align: right;
    padding: 10px;
}

#header a {
    text-decoration: none;
    color: #fff;
}

.content {
	padding: 1em;
	line-height: 1.5em;
}

#page {
    height: 100%;
	min-height: 100%;
}

.displaybox {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 2px solid;
	border-color: #eee;
	margin-bottom: 1em;
	padding: 10px;
	background-color: #fee;
}

li {
	margin-left: 2em;
}

#footer{
	width: 100%;
	margin-top: -2em; /* footer is 2em high, 1 for text +.5+.5 of padding */
	text-align: center;
	border-top: 1pt solid;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #eee;
	
}